.input-box{
    position: relative;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    outline: none; 
    font-size: 1em;
}

.input-placeholder {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #333;
    text-transform: uppercase;
    transition: 0.5s;
}

.input:valid ~ .input-placeholder,
.input:focus ~ .input-placeholder{
    transform: translate(10px, -7px);
    font-size: 0.65em;
    padding: 0 10px;
    background-color: #fff;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    letter-spacing: 0.2em;
}
